*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	width: 700px;
	/* height: 600px; */
	background-color: white;
	margin: 5px auto;
    text-align: center;
}

.row {
    padding: 40px;
}

.product {
    width: 200px;
    height: 300px;
    background-color: #ece7e7;
    /* border: 1px solid black; */
    display: inline-block;
    position: relative;
}

.product img {
    width: 200px;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#ipad1row, #ipad2row {
    padding-bottom: 15px;
}

.discount30 {
    background-color: green;
    position: absolute;
    top: 0px;
    right: 0px;
    /* z-index: 1; */
}

.discount5 {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;
    /* z-index: 1; */
}

.heart {
    font-size: 30px;
    color: red;
    position: absolute;
    bottom: 5px;
    /* z-index: 2; */
    display: none;
}

.product:hover .heart {
    display: inline-block;
}
